## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
.vs/

## Build
[Dd]ebug/
[Rr]elease/
x64/
x86/
build/
publish/

## NuGet
*.nupkg
**/packages/*
project.lock.json

## IDE
.idea/
*.swp
*~
.vscode/
